[submodule "ipxe"]
	path = ipxe
	url = git://git.ipxe.org/ipxe.git
[submodule "shim"]
	path = shim
	url = https://github.com/ipxe/shim.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
	shallow = true
[submodule "ProxyLoaderPkg"]
	path = ProxyLoaderPkg
	url = https://github.com/ipxe/ProxyLoaderPkg.git
